<div class="uk-child-width-1-4 uk-text-center" data-id={{id}} data-state={{state}} uk-grid>
    <div>
        {{image}}
    </div>
    <div>
        <div class="uk-child-width-3-4 uk-text-center" uk-grid>
            <ul>
                <li>{{location}}</li>
                <li>{{description}}</li>
            </ul>
        </div>
    </div>
</div>