<div class="uk-child-width-1-4 uk-text-center" uk-toggle="target: #modal-example" data-id={{id}} data-state={{state}} uk-grid>
    <div>
        {{image}}
    </div>
    <div>
        <div class="uk-child-width-3-4 uk-text-center" uk-grid>
            <ul>
                <li>{{location}}</li>
                <li>{{description}}</li>
            </ul>
        </div>
    </div>
    <div id="modal-example" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <div class"modal-img">
                {{image}}
            </div>
            <div>
                {{location}}
                {{description}}
            </div>
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            {{#if owner}}<button class="uk-button uk-button-primary update" type="button">Update</button>{{/if}}
        </div>
    </div>
</div>